<section id="skills">
    <div id="container">
        <div class="skill-wrapper">
            <div class="input-container"><span class="search"><i class="fas fa-search"></i><input type="text" (keyup.enter)="filterSkills($event.target.value)"/></span></div>
            <app-single-skill *ngFor="let skill of skills.value" [skill]="skill" (returnSkill)="getSelectedTarget($event)"></app-single-skill>
        </div>
    </div>
</section>
<div class="popup-form" *ngIf="showForm" (click)="closeModal()">
    <form>
        <div class="form-group" (click)="$event.stopPropagation()"><h2>You have a question about {{currentTarget}}</h2></div>
        <div class="form-group" (click)="$event.stopPropagation()"><label for="firstname">Firstname</label><input id="fistname" name="firstname" type="text"></div>
        <div class="form-group" (click)="$event.stopPropagation()"><label for="lastname">Lastname</label><input id="lastname" type="text"></div>
        <div class="form-group" (click)="$event.stopPropagation()"><label for="email">Email</label><input id="email" type="text"></div>
        <div class="form-group" (click)="$event.stopPropagation()"><label for="phone">Phone</label><input id="phone" type="text"></div>
        <div class="form-group" (click)="$event.stopPropagation()"><label for="company">Company</label><input id="company" type="text"></div>
        <div class="form-group" (click)="$event.stopPropagation()"><label for="message">Message</label><textarea id="message" name="message" cols="30" rows="10"></textarea></div>
        <div class="form-group" (click)="$event.stopPropagation()"><app-button [buttonText]="'Send'" [buttonLink]="''"></app-button></div>
    </form>
</div>