<header>
  <div class="hamburger" (click)="showMenu()">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <nav>
    <div id="container">
      <ul class="{{ menuIsVisible ? 'visible' : null }}">
        <ng-template ngFor let-i="index" let-route [ngForOf]="routes">
          <ng-template [ngIf]="i !== placeLogo" [ngIfElse]="withLogo">
            <li>
              <a
                class="{{ active === route.path ? 'active' : null }} {{
                  hovered === route.path ? 'hovered' : null
                }}"
                (click)="handleClick($event)"
                (mouseover)="handleHover($event)"
                (mouseleave)="resetHover()"
                [routerLink]="route.path"
                >{{ route.path === "" ? "home" : route.path }}</a
              >
            </li>
          </ng-template>
          <ng-template #withLogo>
            <li>
              <a
                class="{{ active === route.path ? 'active' : null }} {{
                  hovered === route.path ? 'hovered' : null
                }}"
                (click)="handleClick($event)"
                (mouseover)="handleHover($event)"
                (mouseleave)="resetHover()"
                [routerLink]="route.path"
                >{{ route.path === "" ? "Home" : route.path }}</a
              >
            </li>
            <li>
              <a class="logo" [routerLink]="''" (click)="handleClick($event)"
                ><img
                  src="assets/images/logo-white.svg"
                  (click)="$event.stopPropagation()"
                  alt="logo"
              /></a>
            </li>
          </ng-template>
        </ng-template>
      </ul>
    </div>
  </nav>
</header>
